@import './base.css';

#app {
  /*cursor: url(./images/lightsaber_red.png), default;*/
  font-family: 'Thiccboi', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: 'Starjedi';
}

h2 {
  color: #fff;
  margin-bottom: 2em;
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: auto;
  height: 100%;
}

.flex_wrapper {
  display: flex;
  height: 100%;
}

.call_to {
  background: linear-gradient(to right, rgb(94, 17, 0) 0%, rgb(255, 47, 0) 100%);
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(255, 87, 51, 0.5), 1px 2px 4px rgba(255, 87, 51, 0.5),
    1px 4px 8px rgba(255, 87, 51, 0.5), 0px 8px 16px rgba(255, 87, 51);
  padding: 0.5em;
  color: #fff;
  font-size: 1.25em;
  text-align: center;
  animation: glow 3s infinite;
  animation-timing-function: ease-out;
}

.call_to:hover {
  cursor: pointer;
}

.logo_link svg {
  height: 3em;
  width: auto;
  fill: white;
  position: relative;
  z-index: 9;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px #d4000044;
    text-shadow: 0 0 0px #fff;
  }
  40% {
    box-shadow: 0 0 100px #ff0000ee;
    text-shadow: 0 0 15px #fff;
  }
  100% {
    box-shadow: 0 0 20px #d4000044;
    text-shadow: 0 0 1px #fff;
  }
}

.call_to {
  position: relative;
}
.call_to:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  right: 80%;
  width: 1px;
  background-color: #ffffff00;
  box-shadow: 0 0 20px #ffd2fe00, 0 0 10px #ffd2fe00, 0 0 5px #ffd2fe00, 0 0 2px #ffd2fe00;
  opacity: 1;
}
.call_to:hover:after {
  right: 2%;
  background-color: #ffffffff;
  box-shadow: 0 0 30px #ffd2feff, 0 0 15px #ffd2feff, 0 0 7px #ffd2feff, 0 0 3px #ffd2feff;
  opacity: 0;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

@media (hover: hover) {
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 1em;
  }
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }

  .call_to {
    font-size: 1em;
  }
}

@media (max-width: 1440px) and (min-width: 769px) {
  .container {
    padding: 0 2em;
  }
}
